In [1]:
import numpy as np
import pandas as pd

# College.csv

1. Use pd.read_csv to read College.csv in datasets folder. Don't forget to rename the first column!

In [2]:
data = pd.read_csv('../data/College.csv')
data.rename(columns={'Unnamed: 0': 'College'}, inplace=True)
data.head()

,College,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

2. Get a summary info for the dataframe using .describe() method

In [3]:
data.describe()

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
count,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.00000
mean,3001.638353,2018.804376,779.972973,27.558559,55.796654,3699.907336,855.298584,10440.669241,4357.526384,549.380952,1340.642214,72.660232,79.702703,14.089704,22.743887,9660.171171,65.46332
std,3870.201484,2451.113971,929.176190,17.640364,19.804778,4850.420531,1522.431887,4023.016484,1096.696416,165.105360,677.071454,16.328155,14.722359,3.958349,12.391801,5221.768440,17.17771
min,81.000000,72.000000,35.000000,1.000000,9.000000,139.000000,1.000000,2340.000000,1780.000000,96.000000,250.000000,8.000000,24.000000,2.500000,0.000000,3186.000000,10.00000
25%,776.000000,604.000000,242.000000,15.000000,41.000000,992.000000,95.000000,7320.000000,3597.000000,470.000000,850.000000,62.000000,71.000000,11.500000,13.000000,6751.000000,53.00000
50%,1558.000000,1110.000000,434.000000,23.000000,54.000000,1707.000000,353.000000,9990.000000,4200.000000,500.000000,1200.000000,75.000000,82.000000,13.600000,21.000000,8377.000000,65.00000
75%,3624.000000,2424.000000,902.000000,35.000000,69.000000,4005.000000,967.000000,12925.000000,5050.000000,600.000000,1700.000000,85.000000,92.000000,16.500000,31.000000,10830.000000,78.00000
max,48094.000000,26330.000000,6392.000000,96.000000,100.000000,31643.000000,21836.000000,21700.000000,8124.000000,2340.000000,6800.000000,103.000000,100.000000,39.800000,64.000000,56233.000000,118.00000

3. Create a dataframe contains 50 **private** institutions with the **highest enrollment**

In [4]:
top50 = data[data['Private']=='Yes'].sort_values(by='Enroll', ascending=False, ignore_index=True).head(50)
top50

,College,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Brigham Young University at Provo,Yes,7365,5402,4615,48,82,27378,1253,2340,3580,860,1220,76,76,20.5,40,7916,33
1,Boston University,Yes,20192,13007,3810,45,80,14971,3113,18420,6810,475,1025,80,81,11.9,16,16836,72
2,University of Delaware,Yes,14446,10516,3252,22,57,14130,4522,10220,4230,530,1300,82,87,18.3,15,10650,75
3,Northeastern University,Yes,11901,8492,2517,16,42,11160,10221,13380,7425,600,1750,73,82,12.9,17,9563,46
4,New York University,Yes,13594,7244,2505,70,86,12408,2814,17748,7262,450,1000,87,98,7.8,16,21227,71
5,University of Southern California,Yes,12229,8498,2477,45,71,13259,1429,17230,6482,600,2210,90,94,11.4,10,17007,68
6,University of Pennsylvania,Yes,12394,5232,2464,85,100,9205,531,17020,7270,500,1544,95,96,6.3,38,25765,93
7,Syracuse University,Yes,10477,7260,2442,28,67,10142,117,15150,6870,635,960,73,84,11.3,13,14231,67
8,Baylor University,Yes,6075,5349,2367,34,66,9919,484,6450,3920,600,1346,71,76,18.5,38,7503,72
9,Marshall University,Yes,4226,3666,2007,14,60,7703,2339,5094,4010,700,1560,77,86,16.6,10,6203,50
10,University of Notre Dame,Yes,7700,3700,1906,79,96,7671,30,16850,4400,600,1350,96,92,13.1,46,13936,97
11,Northwestern University,Yes,12289,5200,1902,85,98,7450,45,16404,5520,759,1585,96,100,6.8,25,26385,92
12,Marquette University,Yes,5152,4600,1685,36,71,7016,804,11610,4760,600,1950,86,94,13.5,25,9982,77
13,University of Miami,Yes,7122,5386,1643,42,69,7760,876,16500,6526,630,1985,82,94,5.9,17,17500,59
14,Harvard University,Yes,13865,2165,1606,90,100,6862,320,18485,6410,500,1920,97,97,9.9,52,37219,100
15,Duke University,Yes,13789,3893,1583,90,98,6188,53,18590,5950,625,1162,95,96,5.0,44,27206,97
16,Pace University,Yes,8256,3750,1522,37,70,5809,4379,11000,5160,660,1115,90,95,13.8,10,10059,62
17,University of Dayton,Yes,6361,5293,1507,26,51,5889,665,11380,4220,500,900,81,85,14.8,25,8894,93
18,Vanderbilt University,Yes,7791,4690,1499,71,92,5500,90,17865,6525,630,952,93,98,5.8,26,23850,83
19,George Washington University,Yes,7875,5062,1492,38,71,5471,1470,17450,6328,700,950,92,93,7.6,15,14745,72
20,Villanova University,Yes,7759,5588,1477,30,68,6362,1292,15925,6507,400,300,89,90,13.4,24,10458,96
21,Brown University,Yes,12586,3239,1462,87,95,5643,349,19528,5926,720,1100,99,100,7.6,39,20440,97
22,Hampton University,Yes,7178,3755,1433,25,63,4623,740,7161,3518,600,2000,60,64,14.0,9,6791,70
23,Georgetown University,Yes,11115,2881,1390,71,93,5881,406,18300,7131,670,1700,91,92,7.2,27,19635,95
24,Ithaca College,Yes,7259,5526,1368,23,52,5612,166,14424,6192,634,1000,58,79,11.5,25,9812,75
25,Hofstra University,Yes,7428,5860,1349,25,63,6534,1350,11600,5920,1000,1000,81,90,13.9,10,10093,60
26,Yale University,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
27,Washington University,Yes,7654,5259,1254,62,93,4879,1274,18350,5775,768,1512,91,98,3.9,31,45702,90
28,University of Rochester,Yes,8766,5498,1243,56,75,5071,438,17840,6582,500,882,93,99,5.9,23,26037,80
29,Emory University,Yes,8506,4168,1236,76,97,5544,192,17600,6000,600,870,97,98,5.0,28,28457,96
30,Tulane University,Yes,7033,5125,1223,47,75,4941,1534,19040,5950,350,800,98,98,9.1,21,16920,74
31,Brewton-Parker College,Yes,1436,1228,1202,10,26,1320,822,4371,2370,500,2000,62,62,12.6,10,4900,18
32,Texas Christian University,Yes,4095,3079,1195,33,64,5064,660,8490,3320,650,2400,81,93,14.8,23,9158,64
33,University of Hartford,Yes,5081,4040,1194,11,26,3768,1415,14220,6000,500,1440,61,76,10.7,9,10625,66
34,Carnegie Mellon University,Yes,8728,5201,1191,60,89,4265,291,17900,5690,450,1250,86,93,9.2,31,24386,74
35,Southern Methodist University,Yes,4301,3455,1166,41,69,4892,387,12772,5078,576,1802,74,88,13.5,17,12726,72
36,Princeton University,Yes,13218,2042,1153,90,98,4540,146,19900,5910,675,1575,91,96,8.4,54,28320,99
37,Lehigh University,Yes,6397,4304,1092,40,84,4298,132,18700,5580,750,1130,96,99,12.5,43,14665,91
38,Dartmouth College,Yes,8587,2273,1087,87,99,3918,32,19545,6070,550,1100,95,99,4.7,49,29619,98
39,Massachusetts Institute of Technology,Yes,6411,2140,1078,96,99,4481,28,20100,5975,725,1600,99,99,10.1,35,33541,94
40,Bradley University,Yes,3767,3414,1061,30,58,4531,643,10870,4440,2000,1522,75,81,14.4,21,7671,85
41,Seton Hall University,Yes,4576,3565,1000,16,36,4384,1530,12000,6484,650,1000,81,84,14.4,15,10080,64
42,Providence College,Yes,5139,3346,973,20,55,3717,1358,14400,6200,450,1100,66,74,18.4,35,8135,96
43,Embry Riddle Aeronautical University,Yes,3151,2584,958,14,40,4772,856,7800,3750,570,3020,37,43,16.5,4,12878,44
44,Saint Louis University,Yes,3294,2855,956,44,67,4576,1140,11690,4730,800,6800,84,94,4.6,19,18367,67
45,Fordham University,Yes,4200,2874,942,30,55,4740,1646,14235,6965,600,1735,86,97,14.4,14,10864,80
46,Rensselaer Polytechnic Institute,Yes,4996,4165,936,53,82,4291,16,17475,5976,1230,1100,94,98,15.4,21,15605,70
47,University of Chicago,Yes,6348,2999,922,68,94,3340,39,18930,6380,500,1254,99,99,5.3,36,36854,90
48,Iona College,Yes,4892,3530,913,13,33,3906,1446,10690,6790,570,1150,66,83,16.0,14,8107,66
49,Calvin College,Yes,1784,1512,913,29,56,3401,136,10230,3710,400,1210,75,81,14.8,41,7786,81

4. For the above 50 institutions, create a dataframe contains mean and max value for each numeric variable

In [5]:
result = top50.mean().to_frame('Mean').join(top50.max().to_frame('Max'))
result

                  Mean    Max
Apps          7989.780  20192
Accept        4527.260  13007
Enroll        1589.700   4615
Top10perc       47.660     96
Top25perc       72.600    100
F.Undergrad   6688.040  27378
P.Undergrad   1122.040  10221
Outstate     14462.240  20100
Room.Board    5621.740   7425
Books          643.440   2000
Personal      1505.020   6800
PhD             83.460     99
Terminal        88.940    100
S.F.Ratio       11.194   20.5
perc.alumni     25.500     54
Expend       17313.900  45702
Grad.Rate       76.600    100